<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080462518233-hg4rl27sad3k1nelb51g9ci4ed0lqfsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080462518233-hg4rl27sad3k1nelb51g9ci4ed0lqfsv</string>
	<key>API_KEY</key>
	<string>AIzaSyDlx4Uivk-COovBDkAGF4NUl8-UgoO4g10</string>
	<key>GCM_SENDER_ID</key>
	<string>1080462518233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vincent-Alvaro.Tidying-Up</string>
	<key>PROJECT_ID</key>
	<string>tidying-up</string>
	<key>STORAGE_BUCKET</key>
	<string>tidying-up.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080462518233:ios:51cd9002d4822928669bc8</string>
	<key>DATABASE_URL</key>
	<string>https://tidying-up.firebaseio.com</string>
</dict>
</plist>